/* #General body
================================================== */
@mixin ts-body($small : false) {
  @include sans;
  font-size     : 16px;
  line-height   : 1.6;
  font-weight   : 400;
  margin-bottom : var(--space-l);
  
  @include media("<tablet") {
	@include sans;
	font-size   : 16px;
	line-height : 1.4;
	font-weight : 400;
  }
  
  @if ($small) {
	font-size   : 12px;
	line-height : 1.5;
  }
  
  a {
	
	color     : var(--main-color);
	font-size : inherit;
	word-wrap : break-word;
	
	&:hover {
	  border-bottom : 1px solid currentColor;
	}
  }
}

/* #Headings
================================================== */
@mixin ts-hero() {
  @include sans;
  font-size   : 64px;
  line-height : 1.2;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 32px;
	line-height : 1.2;
  }
}


@mixin ts-heading-1($regular : false) {
  @include sans;
  font-size   : 40px;
  line-height : 1.4;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 28px;
	line-height : 1.4;
  }
  
  @if ($regular) {
	font-weight : 400;
  }
}

@mixin ts-heading-2($regular : false) {
  @include sans;
  font-size   : 32px;
  line-height : 1.2;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 25px;
	line-height : 1.2;
  }
  
  @if ($regular) {
	font-weight : 400;
  }
}

@mixin ts-heading-3($regular : false) {
  @include sans;
  font-size   : 20px;
  line-height : 1.4;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 18px;
	line-height : 1.4;
  }
  
  @if ($regular) {
	font-weight : 400;
  }
}

@mixin ts-heading-4 {
  @include sans;
  font-size   : 20px;
  line-height : 1.4;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 18px;
	line-height : 1.4;
  }
}

@mixin ts-heading-5 {
  @include sans;
  font-size   : 20px;
  line-height : 1.4;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 18px;
	line-height : 1.4;
  }
}

@mixin ts-heading-6 {
  @include sans;
  font-size   : 20px;
  line-height : 1.4;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 18px;
	line-height : 1.4;
  }
}

@mixin ts-subtitle() {
  @include sans;
  font-size   : 20px;
  line-height : 1.4;
  font-weight : 400;
  
  @include media("<tablet") {
	font-size   : 18px;
	line-height : 1.4;
  }
}

/* Buttons
================================================== */
@mixin ts-button() {
  @include sans;
  font-size      : 16px;
  font-weight    : 500;
  text-transform : uppercase;
  
  @include media("<tablet") {
	font-size : 15px;
  }
}

/* Labels
================================================== */
@mixin ts-label {
  @include sans;
  font-size   : 12px;
  line-height : 1.2;
}

/* Card
================================================== */
@mixin ts-card-title {
  @include sans;
  font-size   : 20px;
  line-height : 1.4;
  font-weight : 700;
  
  @include media("<tablet") {
	font-size   : 18px;
	line-height : 1.4;
  }
}

@mixin ts-card-body {
  @include sans;
  font-size   : 14px;
  line-height : 1.6;
}

/* Content Type
================================================== */
@mixin ts-content-type {
  @include sans;
  font-size      : 12px;
  font-weight    : 500;
  line-height    : 1.2;
  letter-spacing : 2px;
  text-transform : uppercase;
}


/* Pull-quote
================================================== */
@mixin ts-pull-quote {
  @include serif;
  font-size   : 32px;
  line-height : 43px;
  
  @include media("<tablet") {
	font-size   : 24px;
	line-height : 32px;
  }
}
