.c-back-to-top {
  text-align : right;
  z-index    : -1;
  
  &__button {
	@include o-button;
	border   : solid 1px var(--main-color);
	bottom   : 123px;
	position : relative;
	
	&:hover, &:focus {
	  background-color : var(--main-color);
	  color            : var(--white);
	}
	
	.o-svg--arrow-down {
	  margin-left : 8px;
	  transform   : rotate(180deg);
	}
	
	@include media("<tablet") {
	  display : none;
	}
  }
}
