.c-call-to-action {
	$class   : &;
	position : relative;

	@include media("<tablet") {
		margin-bottom : var(--space-2xl);
	}

	&__content {
		border        : 1px solid var(--borders);
		border-radius : var(--border-radius);
		box-shadow    : 0px 4px 0 var(--borders);
		padding       : var(--space-4xl);
		position      : relative;

		@include media("<tablet") {
			padding : var(--space-xl);
		}

		#{$class}--dark & {
			background : #263B4E;
			color      : var(--white);
		}
	}

	&__title {
		> * {
			@include ts-heading-1;
			color          : var(--blue);
			margin-bottom  : 24px;
			text-transform : uppercase;

			#{$class}--dark & {
				color : var(--orange);
			}
		}
	}

	&__title > * > strong {
		font-weight : 600;

		@include media("<tablet") {
			font-weight : 300;
		}
	}

	&__description {
		@include sans;
		font-size     : 20px;
		line-height   : 1.2;
		margin-bottom : 32px;

		@include media("<tablet") {
			font-size     : 17px;
			line-height   : 29px;
			margin-bottom : 24px;
		}

		@include media(">tablet") {
			padding-right : 42px;
		}
	}

	&__button {
		@include o-button($orange : true);
		font-weight : 700;

		&:hover, &:focus {
			color : var(--white);
		}
	}

	&__image-wrapper {

		@include media("<tablet") {
		}
	}

	&__image {
		height     : 100%;
		object-fit : cover;
		width      : 100%;
	}
}
