.c-card {
  $class           : &;
  background-color : var(--white);
  border           : 1px solid var(--borders);
  border-radius    : var(--border-radius);
  box-shadow       : 0px 4px 0 var(--borders);
  display          : inline-block;
  padding          : 52px var(--space-2xl) var(--space-2xl);

  @include media('<tablet') {
    padding : var(--space-xl);
  }

  &:hover, &:focus {
    #{$class}__type {
      color : var(--white);
    }
  }

  &__side-image-wrapper {
    float        : left;
    margin-right : var(--space-4xl);

    @include media('<tablet') {
      float         : none;
      margin-bottom : var(--space-l);
      margin-right  : var(--space-l);
    }
  }

  &__type {
    @include ts-content-type;
  }

  &__title {
    @include ts-card-title;
    color         : var(--orange);
    margin-bottom : var(--space-m);

    &:hover, &:focus {
      color : var(--orange-hover);
    }
  }

  &__body,
  &__body > * {
    @include ts-card-body;
    margin-bottom : var(--space-l);
  }

  &__link {
    @include o-button($text_link : true);
    font-size      : 14px;
    text-transform : none;
  }

  &__footer {
    align-items     : center;
    display         : flex;
    justify-content : space-between;
  }

  &__date {
    @include ts-label;
  }

  &__terms {
    margin-top : var(--space-l);
  }

  &__terms--types {
    display       : inline-flex;
    flex-wrap     : wrap;
    float         : right;
    gap           : var(--space-s);
    margin-bottom : var(--space-l);
    margin-left   : var(--space-l);
  }

  &__term {
    @include ts-button();
    background-color : transparent;
    border           : solid 1px #C9B99F;
    border-radius    : var(--border-radius);
    color            : var(--orange);
    display          : inline-block;
    font-size        : 12px;
    font-weight      : 600;
    margin-bottom    : var(--space-xs);
    margin-right     : var(--space-m);
    padding          : 4px 10px;

    &-audio {
      background    : var(--blue);
      border        : 0;
      border-radius : 50%;
      display       : inline-block;
      font-size     : 0;
      height        : 36px;
      margin-right  : 0;
      padding       : 0px;
      position      : relative;
      width         : 36px;

      &:after {
        background      : url('../img/term-audio.png') no-repeat;
        background-size : cover;
        color           : var(--white);
        content         : '';
        filter          : grayscale(1) invert(1);
        height          : 20px;
        left            : 50%;
        position        : absolute;
        top             : 50%;
        transform       : translate(-50%, -50%);
        width           : 20px;
      }
    }

    &-blog-post,
    &-post {
      background    : var(--blue);
      border        : 0;
      border-radius : 50%;
      display       : inline-block;
      font-size     : 0;
      height        : 36px;
      margin-right  : 0;
      padding       : 0px;
      position      : relative;
      width         : 36px;

      &:after {
        background      : url('../img/term-post.png') no-repeat;
        background-size : cover;
        color           : var(--white);
        content         : '';
        filter          : grayscale(1) invert(1);
        height          : 20px;
        left            : 50%;
        position        : absolute;
        top             : 50%;
        transform       : translate(-50%, -50%);
        width           : 20px;
      }
    }

    &-video {
      background    : var(--blue);
      border        : 0;
      border-radius : 50%;
      display       : inline-block;
      font-size     : 0;
      height        : 36px;
      margin-right  : 0;
      padding       : 0px;
      position      : relative;
      width         : 36px;

      &:after {
        background      : url('../img/term-video.png') no-repeat;
        background-size : cover;
        color           : var(--white);
        content         : '';
        filter          : grayscale(1) invert(1);
        height          : 20px;
        left            : 50%;
        position        : absolute;
        top             : 50%;
        transform       : translate(-50%, -50%);
        width           : 20px;
      }
    }
  }
}

[data-aos="c-card-animation"] {
  opacity             : 0.1;
  transform           : translateY(35px);
  transition-property : transform, opacity;

  @include media('<tablet') {
    transform : translateY(50px);
  }

  &.aos-animate {
    opacity   : 1;
    transform : translateY(0px);
  }
}