.c-card-block {
	$class : &;

	@include media("<tablet") {
		margin-bottom : var(--space-3xl);
	}

	&__container {
		position : relative;
	}

	&__cards-wrapper {
		display               : grid;
		grid-column-gap       : var(--space-l);
		grid-row-gap          : var(--space-l);
		grid-template-columns : repeat(3, 1fr);

		@include media("<tablet") {
			grid-row-gap          : var(--space-m);
			grid-template-columns : repeat(1, 1fr);
		}
	}

	&__title {
		@include ts-heading-3(regular);
		color          : var(--blue);
		font-weight    : 700;
		letter-spacing : 0;
		margin-bottom  : var(--space-xs);
		text-align     : center;
		text-transform : uppercase;
	}

	&__title--bottom {
		margin-bottom : var(--space-l);
	}

	&__sub-title {
		@include ts-body(small);
		margin-bottom : var(--space-l);
	}

	&__button-wrapper {
		margin-top : var(--space-2xl);

		@include media("<tablet") {
			margin-bottom : var(--space-2xl);
		}
	}

	&__button-wrapper--tab {
		margin-bottom : -64px;

		/*@include media("<tablet") {
      margin-bottom : -24px;
    }*/
	}

	/* One item layout
 ================================================== */
	&--one {
		#{$class}__cards-wrapper {
			display               : grid;
			grid-column-gap       : var(--space-l);
			grid-row-gap          : var(--space-l);
			grid-template-columns : repeat(1, 1fr);

			@include media("<tablet") {
				grid-row-gap : var(--space-m);
			}
		}
	}

	/* Two item layout
  ================================================== */
	&--two {
		#{$class}__cards-wrapper {
			display               : grid;
			grid-column-gap       : var(--space-l);
			grid-row-gap          : var(--space-l);
			grid-template-columns : repeat(2, 1fr);

			@include media("<tablet") {
				grid-row-gap          : var(--space-m);
				grid-template-columns : repeat(1, 1fr);
			}
		}
	}

	/* Specific 1 item layout for reports
  ================================================== */
	&--report {
		#{$class}__cards-wrapper {
			display               : grid;
			grid-column-gap       : var(--space-l);
			grid-row-gap          : var(--space-l);
			grid-template-columns : repeat(1, 1fr);

			@include media("<tablet") {
				grid-row-gap          : var(--space-m);
				grid-template-columns : repeat(1, 1fr);
			}
		}
	}
}
