.c-footer {
  background : var(--blue);
  margin-top : var(--space-2xl);
  overflow   : hidden;
  position   : relative;

  &__bottom {
    background : var(--blue);
    height     : 80px;
    overflow   : hidden;
    position   : relative;
    width      : 100%;
  }

  &__bottom-image {
    height     : 100%;
    left       : 0;
    object-fit : cover;
    position   : absolute;
    top        : 0;
    width      : 100%;
  }

  &__inner {
    @include grid;
    padding-bottom : var(--space-3xl);
    padding-top    : var(--space-2xl);
    position       : relative;

    @include media("<tablet") {
      display    : block;
      margin-top : 24px;
    }
  }

  &__inner-image {
    height     : 100%;
    left       : -10%;
    object-fit : cover;
    position   : absolute;
    top        : 0;
    width      : 120%;
    z-index    : 0;
  }

  &__menu {
    grid-column : 1 / 7;
    z-index     : 1;

    @include media("<tablet") {
      grid-column : 1 / 13;
    }
  }

  &__menu-wrapper {
    @include grid;
  }

  &__social {
    grid-column    : 1 / -1;
    padding-bottom : 20px;
  }

  &__newsletter {
    grid-column : 7 / 13;
    z-index     : 1;

    @include media("<tablet") {
      grid-column : 1 / 13;
    }
  }

  &__newsletter-title {
    @include ts-heading-3;
    color         : var(--orange);
    margin-bottom : var(--space-m);
  }

  &__newsletter-btn {
    @include o-button(cream);
    align-items     : center;
    display         : inline-flex;
    font-weight     : 700;
    justify-content : center;
    padding         : 12px 55px;
    text-transform  : none;
  }


  &__legal-text {
    @include ts-card-body;
    color       : var(--white);
    grid-column : 1 / 11;
    margin-top  : var(--space-m);
  }

  &__credits-inner {
    @include sans;
    font-size   : 11px;
    grid-column : 1 / 13;
  }

  &__copyright {
    @include sans;
    color      : var(--white);
    font-size  : 14px;
    margin-top : 35px;
  }
}
