.c-header {
  $class          : &;
  align-items     : center;
  display         : flex;
  height          : var(--header-height);
  justify-content : space-between;
  position        : relative;
  transition      : transform .5s ease;
  width           : 100%;
  z-index         : 9;

  @include media("<=desktop") {
    top     : 0;
    width   : 100%;
    z-index : 20;
  }

  &__container {
    align-items     : center;
    display         : flex;
    height          : 100%;
    justify-content : space-between;
  }

  &__logo-block {
    color : var(--orange);

    @include media("<=desktop") {
      align-items     : center;
      display         : flex;
      justify-content : space-between;
      padding         : 0;
      width           : 100%;
    }
  }

  &__logo-type {
    @include sans;
    color       : var(--orange);
    font-size   : 20px;
    font-weight : 700;
    height      : 65px;
    line-height : 1;
    max-height  : 100%;

    @include media('<=desktop') {
      height : 55px;
    }

    #{$class}.is-sticky & {
      height : 55px;
    }
  }

  &__contents {
    align-items : center;
    display     : flex;

    @include media("<=desktop") {
      background  : var(--orange);
      bottom      : 0;
      display     : none;
      grid-column : 1 / 13;
      height      : calc(100vh - var(--header-height));
      left        : 0;
      position    : absolute;
      right       : 0;
      top         : var(--header-height);
      width       : 100%;
      z-index     : 1;
    }
  }

  &__menu-block {
    display         : flex;
    flex-flow       : row wrap;
    justify-content : flex-end;

    > * {
      flex : 1 100%;
    }

    @include media("<=desktop") {
      height : auto;
    }
  }

  &__menu-wrapper {
    align-items     : flex-start;
    display         : flex;
    flex            : 1 auto;
    flex-direction  : row;
    justify-content : flex-end;

    @include media("<=desktop") {
      display : block;
    }
  }


  /* Mobile
  ================================================== */
  &__burger {
    @include sans;
    border      : solid 1px var(--orange);
    cursor      : pointer;
    display     : inline-block;
    font-size   : 11px;
    font-weight : 700;
    padding     : var(--space-xxs) var(--space-xs);

    @include media(">desktop") {
      display : none;
    }
  }

  /* Sticky
  ================================================== */
  &.is-sticky {
    align-items : center;
    background  : var(--cream);
    box-sizing  : border-box;
    display     : flex;
    height      : 72px;
    left        : 0;
    padding     : 0;
    position    : fixed;
    top         : -88px;
    transform   : translateY(-100%);
    z-index     : 2;

    @include media("<=desktop") {
      height   : 60px;
      position : fixed;
    }

    &#{$class}--dark {
      background : var(--blue);
    }

    #{$class}__container {
      @include media("<=desktop") {
        height : 60px;
      }
    }

    #{$class}__logo {
      .o-svg--logo {
        background-position : left;
        background-repeat   : no-repeat;
        background-size     : cover;
        height              : 32px;
        width               : 51px;

        @include media("<=desktop") {
        }
      }
    }

    #{$class}__contents {
      @include media("<=desktop") {
        height : calc(100vh - var(--header-height-mobile));
        top    : var(--header-height-mobile);
      }
    }
  }

  &.sticky-is-visible {
    transform : translateY(0);
  }
}
