@import "../../node_modules/animate.css/animate";

.c-home-banner {
  overflow : hidden;
  position : relative;

  @include media("<tablet") {
    margin-top     : 0;
    padding-bottom : 0;
  }

  &__container {
    @include o-container;
  }

  &__inner {
    @include grid;
    min-height : 450px;
    overflow   : hidden;
    position   : relative;

    @include media("<tablet") {
      height : auto;
    }
  }

  &__heading {
    align-items     : flex-start;
    display         : flex;
    flex-direction  : column;
    grid-column     : 1/10;
    justify-content : center;
    padding         : var(--space-4xl);

    @include media("<desktop") {
      grid-column   : 1 /-1;
      margin-bottom : var(--space-l);
    }

    @include media("<=tablet") {
      margin-bottom : var(--space-l);
      padding       : var(--space-xl);
    }
  }

  &__text {
    background    : var(--white);
    border        : 1px solid var(--borders);
    border-radius : var(--border-radius);
    box-shadow    : 0px 4px 0 var(--borders);
    padding       : var(--space-l);
  }

  &__title > *,
  &__title {
    @include ts-heading-1();
    color          : var(--white);
    line-height    : 1.2;
    margin-bottom  : var(--space-l);
    text-transform : uppercase;

    @include media("<tablet") {
      font-size     : 21px;
      margin-bottom : var(--space-s);
      padding-left  : 0;
    }

    strong {
      font-weight : 600;
    }
  }

  &__statement {
    @include sans;
    color         : var(--orange);
    font-size     : 24px;
    line-height   : 1.3;
    margin-bottom : var(--space-l);

    @include media("<tablet") {
      font-size : 18px;
    }
  }

  &__description,
  &__description p {
    @include sans;
    font-size     : 20px;
    line-height   : 1.3;
    margin-bottom : var(--space-m);

    @include media("<tablet") {
      font-size : 16px;
    }
  }

  &__image-wrapper {
    aspect-ratio  : 16 / 9;
    border-radius : 4px;
    font-size     : 0;
    height        : 100%;
    line-height   : 0;
    overflow      : hidden;
    position      : absolute;
    width         : 100%;
    z-index       : -1;

    &:after {
      background : linear-gradient(133deg, rgba(0, 0, 0, 1) 22%, rgba(0, 0, 0, 0) 85%);
      bottom     : 0;
      content    : '';
      left       : 0;
      opacity    : 0.5;
      position   : absolute;
      right      : 0;
      top        : 0;
    }

    img {
      @include object-fit("cover");
      height : 100%;
      width  : 100%;
    }
  }


  &__button {
    border  : solid 1px var(--blue);
    padding : var(--space-m) var(--space-l);

    &:hover, &:focus {
      background : var(--blue);
      color      : var(--white);
    }

    .o-svg--arrow {
      margin-left : 8px;
    }
  }

}
