.c-listing {
  $class     : &;
  min-height : 850px;
  
  @include media("<tablet") {
	min-height : auto;
  }
  
  &__inner {
	@include grid;
	grid-template-areas   :
    "title title title"
    "search search search"
    "filters space sorters"
    "filters space results"
    "filters space pagination";
	grid-template-columns : 3fr 1fr 8fr;
	grid-template-rows    : auto;
	
	@include media("<desktop") {
	  grid-template-areas :
    "title title title"
    "search search search"
    "filters filters sorters"
    "filters filters results"
    "filters filters pagination";
	}
	@include media("<tablet") {
	  grid-template-areas   :
      "title"
      "search"
      "filters"
      "sorters"
      "results"
      " pagination";
	  grid-template-columns : 12fr;
	}
	
  }
  
  &__no-filter {
	min-height : 400px;
	
	#{$class}__filters-wrapper {
	  display : none;
	}
	
	#{$class}__inner {
	  grid-template-areas   :
    "title"
    "search"
    "sorters"
    "results"
    "pagination";
	  grid-template-columns : 12fr;
	  grid-template-rows    : auto;
	}
	
	#{$class}__list {
	  display               : grid;
	  grid-column-gap       : var(--space-l);
	  grid-template-columns : repeat(2, 1fr);
	  
	  @include media("<tablet") {
		grid-template-columns : repeat(1, 1fr);
	  }
	}
  }
  
  &__no-block {
	#{$class}__title-wrapper {
	  padding-top : var(--space-2xl);
	}
  }
  
  &__title-wrapper {
	@include ts-heading-3(regular);
	align-items    : center;
	display        : flex;
	grid-area      : title;
	padding-bottom : var(--space-2xl);
  }
  
  &__title {
	@include ts-heading-3(regular);
  }
  
  &__title-line {
	background-color : var(--blue);
	height           : 2px;
	margin-right     : var(--space-m);
	width            : 40px;
	
	@include media("<tablet") {
	  width : var(--space-l);
	}
  }
  
  &__search {
	background-color : peachpuff;
	grid-area        : search;
	padding          : 50px;
  }
  
  &__filters-wrapper {
	grid-area : filters;
  }
  
  &__sorter {
	grid-area     : sorters;
	margin-bottom : var(--space-l);
	
	@include media("<tablet") {
	  margin-top : var(--space-l);
	}
  }
  
  &__list {
	grid-area     : results;
	margin-bottom : var(--space-2xl);
  }
  
  &__filters-title, &__result-count {
	@include ts-label;
  }
  
  &__pagination {
	grid-area     : pagination;
	margin-bottom : var(--space-4xl);
	
	@include media("<tablet") {
	  margin-bottom : 100px;
	}
  }
  
}
