.c-list {
  &__item {
    display : block;
    padding : var(--space-l) 0;

    &:hover:not( &--no-results ),
    &:focus:not( &--no-results ) {
      border-color : var(--blue);
      color        : var(--blue);
    }
  }

  &__filters {
    border-bottom   : solid 1px var(--borders);
    display         : flex;
    justify-content : space-between;
    margin-bottom   : var(--space-2xl);
    padding         : var(--space-l) 0 0;

    @include media('<=desktop') {
      flex-direction : column;
    }
  }

  &__filters-topics {
    margin-bottom : var(--space-s);
  }

  &__filters-btn {
    @include o-button($transparent : true);
    margin-bottom : var(--space-s);
    margin-right  : var(--space-s);

    &.active {
      @include o-button($orange : true);
    }
  }

  &__search-wrapper {
    @include media('<=desktop') {
      margin-bottom : var(--gutter);
    }
  }

  &__key-remover {
    @include o-button($orange : true);
    margin-bottom : var(--space-l);
  }

  &__no-results {
    @include ts-body();
  }

  &__data {
    margin-bottom : var(--space-m);
  }

  &__type {
    @include ts-content-type;
    margin-right : var(--space-l);
  }

  &__date {
    @include ts-label;
  }

  &__pagination {
    @include ts-body();
    font-weight : 700;
    text-align  : center;
    width       : 100%;

    .page-numbers {
      color  : var(--black);
      margin : 0 var(--space-l);

      &.current {
        color : var(--orange);
      }
    }

    &-next,
    &-prev {
      color     : currentColor;
      font-size : 0;
      position  : relative;

      &:after {
        background-image  : url('../src/sprite-images/arrow.svg');
        background-repeat : no-repeat;
        color             : currentColor;
        content           : '';
        height            : 16px;
        margin-top        : 4px;
        position          : absolute;
        width             : 16px;
      }
    }

    &-prev {
      &:after {
        transform : rotate(180deg);
      }
    }
  }

  &__cross-icon {
    margin-left    : var(--space-xs);
    vertical-align : middle;

    &.o-svg {
      height : 16px;
      width  : 16px;
    }
  }

}
