.c-logo-card {
  $class          : &;
  background      : var(--white);
  box-sizing      : border-box;
  display         : flex;
  height          : 168px;
  justify-content : center;
  margin-bottom   : 24px;
  object-fit      : contain;
  padding         : 12px;
  position        : relative;
  text-align      : center;
  width           : auto;
  
  @include media("<desktop") {
	height : 100px;
  }
  
  @include media("<tablet") {
	height        : 132px;
	margin-bottom : 16px;
	width         : auto;
  }
  
  &:hover, &:focus {
	
	img {
	  filter         : grayscale(1);
	  mix-blend-mode : multiply;
	}
  }
  
  &__container {
	height : 100%;
  }
  
  img {
	height     : 100%;
	margin     : auto;
	object-fit : contain;
	width      : calc(100% - 24px);
	
	@include media("<tablet") {
	  max-width : 70px;
	  width     : auto;
	}
  }
}
