.c-logo-carousel {
  .c-card-block__container {
	
	&:before {
	  bottom : 100px;
	  
	  @include media("<tablet") {
		bottom : 50px;
	  }
	}
  }
  
  &__slider {
	position : relative;
	
	@include media("<tablet") {
	  padding-right : 0;
	}
  }
  
  .slick-list {
	margin : 0 -12px;
	
	@include media("<tablet") {
	  margin : 0;
	}
  }
  
  .slick-track {
	display   : inline-flex;
	flex-wrap : wrap;
  }
  
  .slick-slide {
	box-sizing : border-box;
	margin     : 0 12px;
	
	@include media("<tablet") {
	  margin : 0 15px 0 0;
	}
  }
  
  &__button {
	background-color    : var(--white);
	background-position : center;
	background-repeat   : no-repeat;
	bottom              : -40px;
	cursor              : pointer;
	height              : 30px;
	position            : absolute;
	width               : 30px;
	
	&:hover, &:focus {
	  background-color : var(--blue);
	}
	
	&--prev {
	  background-repeat : no-repeat;
	  right             : 40px;
	  
	  &:after {
		background-color : var(--black);
		content          : "";
		height           : 16px;
		left             : 5px;
		mask-image       : url("../img/arrow.svg");
		position         : absolute;
		top              : 6px;
		transform        : rotate(180deg);
		width            : 16px;
	  }
	  
	  &:hover {
		&:after {
		  background-color : var(--white);
		}
	  }
	}
	
	&--next {
	  background-repeat : no-repeat;
	  right             : 0;
	  
	  &:after {
		background-color : var(--black);
		content          : "";
		height           : 16px;
		left             : 6px;
		mask-image       : url("../img/arrow.svg");
		position         : absolute;
		top              : 6px;
		width            : 16px;
	  }
	  
	  &:hover {
		&:after {
		  background-color : var(--white);
		}
	  }
	}
  }
  
  &__link {
	padding-left : 0px;
	
	svg {
	  padding-left : 8px;
	}
  }
  
  .c-logo-card {
	@include media("<tablet") {
	  height : 72px;
	}
  }
  
  .c-card-block__button-wrapper {
	margin-top : 5px;
  }
}
