.c-logo-block {
	text-align : center;

	&__container {
		@include o-container;
	}

	&__title {
		@include ts-heading-2();
		color          : var(--blue);
		text-transform : uppercase;
	}

	&__subtitle {
		@include ts-heading-2();
		color          : var(--orange);
		font-size      : 24px;
		font-weight    : 600;
		text-transform : uppercase;
	}

	&__description {
		@include ts-body();
		line-height : 1.7;
		margin      : auto;
		margin-top  : var(--space-l);
		max-width   : 381px;
		width       : 100%;
	}

	&__wrapper {
		align-items           : center;
		display               : grid;
		grid-column-gap       : var(--space-3xl);
		grid-row-gap          : var(--space-l);
		grid-template-columns : repeat(6, 1fr);
		margin                : var(--space-2xl) 0;

		@include media('<tablet') {
			grid-template-columns : repeat(3, 1fr);
		}
	}

	&__image {
		img {
			height : auto;
			width  : 100%;
		}
	}


	@include media("<tablet") {

	}

}
