.c-main-menu {
  $class : &;

  @include media("<tablet") {
    height : auto;
  }

  &__container {
    align-items : flex-start;
    display     : flex;
    height      : 100%;

    @include media("<desktop") {
      display : block;
    }
  }

  &__list {
    display : flex;

    @include media("<desktop") {
      display     : block;
      padding-top : var(--space-3xl);
    }

    li {
      @include sans;
      box-sizing     : border-box;
      color          : var(--blue);
      display        : block;
      height         : 100%;
      letter-spacing : .1em;
      margin-left    : 37px;
      padding        : 0;
      text-transform : uppercase;
      transition     : text-shadow .3s;

      &.current_page_item a,
      &.current-menu-item a,
      &:hover a,
      &:focus a,
      & a:focus,
      & a:hover {
        text-shadow : 0 0 .65px var(--blue), 0 0 .65px var(--blue);
      }

      #{$class}--dark & {
        color : var(--white);

        &.current_page_item a,
        &.current-menu-item a,
        &:hover a,
        &:focus a {
          text-shadow : 0 0 .65px var(--white), 0 0 .65px var(--white);
        }
      }


      &.lang-item-first {
        margin-left : 60px;

        @include media('>desktop', '<=1210px') {
          margin-left : 20px;
        }

        @include media("<tablet") {
          margin-left : 0px;
        }
      }

      &.lang-item.current-lang a {
        color       : var(--orange);
        text-shadow : 0 0 .65px var(--orange), 0 0 .65px var(--orange);

        &:hover,
        &:focus {
          color       : var(--blue);
          text-shadow : 0 0 .65px var(--blue), 0 0 .65px var(--blue);
        }
      }

      &.lang-item-fr {
        border-left  : solid 1px var(--blue);
        margin-left  : var(--space-xxs);
        padding-left : var(--space-xxs);
      }

      @include media(">desktop") {
        border-bottom  : 0;
        letter-spacing : .4px;
        margin-left    : var(--space-l);
        position       : relative;

        &:first-child {
          margin-left : 0;
        }

        &:hover,
        &:focus {
          #{$class}__sub-menu {
            display : block;
          }
        }
      }

      &:last-child:hover,
      &:last-child:focus {
        #{$class}__sub-menu {
          right : 0;
        }
      }

      @include media('<desktop') {
        color         : var(--white);
        font-size     : 26px;
        margin-bottom : var(--space-m);
        margin-left   : 0;
        text-align    : center;

        &:hover a,
        &:focus a,
        &.current_page_item a,
        &.current-menu-item a {
          font-weight : 700;
          text-shadow : none;
        }
      }
    }
  }

  &__list-item-wrapper {
    @include media("<desktop") {
      align-items : center;
      display     : flex;
    }
  }

  &__link {
    display        : block;
    padding-bottom : 48px;
    padding-top    : 8px;
    position       : relative;
    transition     : color .2s;

    @include media("<desktop") {
      box-sizing  : border-box;
      font-size   : 15px;
      line-height : 20px;
      padding     : 18px;
      width       : 100%;
    }

    .is-sticky & {
      padding-bottom : 0;
    }

    &:hover,
    &:focus {
      color : var(--orange);

      @include media("<desktop") {
        color : var(--white);
      }

      @include media(">desktop") {
        &:after {
          background : var(--orange);
          content    : "";
          display    : block;
          height     : 4px;
          left       : 0;
          margin-top : 44px;
          position   : absolute;
          right      : 0;
          transition : width .2s;
          width      : 100%;
        }
      }
    }
  }


  /* Sticky mode
  ================================================== */
  .is-sticky &__link:hover:after,
  .is-sticky &__link:focus:after {
    margin-top : 23px;
  }
}
