.c-page-header {
  $class : &;
  
  @include media("<tablet") {
	padding-bottom : var(--space-l);
  }
  
  
  &--dark {
	background     : var(--dark-blue);
	color          : var(--white);
	margin-top     : calc(-1 * var(--header-height));
	padding-bottom : var(--space-3xl);
	padding-top    : 100px;
	
	#{$class}__heading {
	  grid-column    : 1 / 9;
	  padding-bottom : 0;
	}
	
	#{$class}__title {
	  color : var(--orange);
	}
	
	#{$class}__inner {
	  border-bottom : 0;
	}
	
	#{$class}__side-image-wrapper {
	  grid-column : 9 / 13;
	}
  }
  
  &--tpl-listing {
	padding-bottom : 0;
	
	#{$class}__container {
	  margin-top : 0;
	}
	
	#{$class}__inner {
	  padding-bottom : var(--space-2xl);
	}
	
	#{$class}__heading {
	  grid-column    : 1/7;
	  padding-bottom : 0;
	}
	
	#{$class}__subtitle {
	  font-size  : 20px;
	  margin-top : var(--space-m);
	}
  }
  
  &--tpl-map {
	#{$class}__heading {
	  grid-column    : 1/-1;
	  padding-bottom : 0;
	}
  }
  
  &__container {
	@include o-container;
	margin-top : var(--space-3xl);
	
	@include media("<tablet") {
	  margin-top : var(--space-2xl)
	}
  }
  
  &__inner {
	@include grid;
	border-bottom : solid 1px var(--borders);
  }
  
  &__heading {
	grid-column    : 2 / 6;
	padding-bottom : 140px;
	
	
	@include media("<tablet") {
	  grid-column    : 1 / 13;
	  padding-bottom : var(--space-l);
	}
  }
  
  &__title {
	@include ts-heading-1;
	color          : var(--blue);
	text-transform : uppercase;
  }
  
  &__subtitle {
	@include ts-body;
	margin-bottom : 0;
	margin-top    : var(--space-l);
  }
  
  
  &__side-image-wrapper {
	grid-column : 6 / 13;
	overflow    : hidden;
	position    : relative;
	
	@include media("<desktop") {
	  grid-column : 6 / 13;
	}
	
	@include media("<tablet") {
	  grid-column : 1 / 13;
	}
  }
  
  &__side-image {
	height   : auto;
	position : absolute;
	width    : 100%;
	
	@include media("<desktop") {
	  position : relative;
	}
  }
}

.page-about-us .c-page-header--no-thumbnail,
.page-a-propos-de-nous .c-page-header--no-thumbnail {
  .c-page-header__heading {
	grid-column : 2 / 12;
	text-align  : center;
	
	@include media("<tablet") {
	  grid-column : 1/-1;
	}
  }
  
  .c-page-header__title {
	@include ts-heading-1();
  }
  
  .c-page-header__subtitle {
	font-size   : 24px;
	line-height : 1.5;
  }
}
