.c-pagination {
  align-items : center;
  display     : flex;
  font-size   : 0;
  position    : relative;
  
  &__button {
	color          : var(--dark-blue);
	display        : inline-block;
	font-size      : 16px;
	@include sans;
	line-height    : 26px;
	margin-right   : var(--space-xs);
	min-height     : 36px;
	min-width      : 36px;
	padding        : 4px var(--space-xs) 3px;
	text-align     : center;
	vertical-align : top;
	
	&:hover,
	&:focus {
	  background-color : var(--orange);
	  border-color     : var(--orange);
	  color            : var(--white);
	}
	
	// Current Hover
	&.is-current {
	  background-color : var(--orange);
	  border-color     : var(--orange);
	  color            : var(--white);
	  
	  &:hover,
	  &:focus {
		background-color : var(--orange);
		border-color     : var(--orange);
		color            : var(--white);
	  }
	}
	
	&--dotted {
	  display : none;
	}
	
	// Next/Previous
	&--next,
	&--previous {
	  align-items     : center;
	  display         : inline-flex;
	  justify-content : center;
	  padding         : 0;
	}
	
	&--first .o-svg,
	&--previous .o-svg {
	  transform : rotate(180deg);
	}
	
	&--first,
	&--last {
	  border        : none;
	  border-bottom : 1px solid var(--black);
	  height        : auto;
	  margin-bottom : var(--space-xxs);
	  min-width     : inherit;
	  padding       : 0;
	  padding-top   : var(--space-xs);
	  text-align    : left;
	  width         : auto;
	  
	  &:hover,
	  &:focus {
		background-color : transparent;
		border-color     : var(--orange);
		color            : var(--orange);
	  }
	  
	  @include media("<tablet") {
		position : absolute;
		top      : var(--space-2xl);
	  }
	}
	
	&--first {
	  margin-right : var(--space-l);
	}
	
	&--last {
	  margin-left : var(--space-m);
	  
	  @include media("<tablet") {
		margin-right : 0;
		right        : 0;
		text-align   : right;
	  }
	}
	
  }
  
  /* If you have a full set of pagination buttons
  ================================================== */
  &--has-five {
	@include media("<tablet") {
	  align-items : stretch;
	  display     : flex;
	}
  }
  
  &--has-five &__button {
	@include media("<tablet") {
	  min-width : 0;
	  width     : 100%;
	}
  }
}
