.c-search-form {
	$class : &;

	&__button {

	}

	&__input {
	}

	&__label {
		@include accessible-hide;
	}

	&--header {
		display : flex;

		@include media("<desktop") {
			display : block !important;
		}

		#{$class}__button {
			@include o-button($orange : true);
			height : 44px;
		}

		#{$class}__input {
			@include placeholder(var(--mid-grey));
			border        : solid 1px var(--orange) !important;
			border-radius : var(--border-radius);
			cursor        : text;
			height        : 44px;
			margin-right  : var(--space-m);
			padding       : 8px 12px;
		}
	}
}
