.c-search {
  
  &__listing {
	padding-bottom : var(--space-2xl);
	padding-top    : var(--space-2xl);
  }
  
  /* Search Form
  ================================================== */
  &__form {
	padding : var(--space-3xl) 0 var(--space-xl) 0;
	@include o-container;
	@include grid;
  }
  
  &__form-inner {
	align-items : center;
	display     : flex;
	grid-column : 1 / 9;
  }
  
  &__input {
	@include ts-heading-3(regular);
	border-bottom : 1px solid var(--black) !important;
	padding       : 0 var(--space-2xl) var(--space-m) var(--space-xs);
	width         : 100%;
	
	&:hover, &:focus, &:active {
	  border-color : var(--orange) !important;
	}
	
	@include media("<tablet") {
	  border      : 1px solid var(--orange) !important;
	  font-size   : 14px;
	  height      : 40px;
	  line-height : 0;
	  padding     : var(--space-xs) var(--space-2xl) var(--space-xs) var(--space-s);
	}
	
	&::-webkit-input-placeholder {
	  color : var(--black);
	}
	
	&:-ms-input-placeholder {
	  color : var(--black);
	}
	
	&::placeholder {
	  color : var(--black);
	}
	
  }
  
  &__submit {
	cursor      : pointer;
	line-height : 0;
	margin-left : calc(var(--space-xl) * -1);
	
	.o-svg--search {
	  height : 24px;
	  width  : 24px;
	  
	  @include media("<tablet") {
		height : 20px;
		width  : 20px;
	  }
	}
	
	&:hover, &:focus {
	  color : var(--orange);
	}
	
	@include media("<tablet") {
	  border-left  : 1px solid var(--orange);
	  height       : 40px;
	  margin-left  : -42px;
	  padding-left : 10px;
	}
  }
  
  /* Relevanssi Did You Mean
  ================================================== */
  &__did-you-mean {
	@include sans;
	border-bottom  : 1px solid var(--light-grey);
	margin-bottom  : var(--space-xl);
	padding-bottom : var(--space-xl);
  }
  
  &__dym-inner {
	@include grid;
  }
  
  &__dym-suggestion {
	@include grid;
	
	a {
	  font-weight     : 700;
	  text-decoration : none;
	  
	  &:hover, &:focus {
		text-decoration : underline;
	  }
	}
  }
}
