.c-single-header {
  
  &__container {
	@include o-container;
  }
  
  &__inner {
	@include grid;
	border-bottom  : 1px solid var(--borders);
	padding-bottom : var(--space-xl);
  }
  
  &__type {
	@include ts-content-type;
	margin-bottom : var(--space-2xl);
	margin-top    : var(--space-3xl);
	
	@include media("<tablet") {
	  margin-bottom : var(--space-xl);
	  margin-top    : 40px;
	}
  }
  
  &__heading {
	grid-column : 2 / 9;
	
	@include media("<tablet") {
	  grid-column : 1 / 5;
	}
  }
  
  &__title {
	@include ts-heading-1;
	color          : var(--blue);
	margin-top     : var(--space-2xl);
	text-transform : uppercase;
  }
  
  &__description {
	@include ts-body;
	margin-top : var(--space-l);
	
	p {
	  @include ts-body;
	}
  }
  
  &__side-image {
	grid-column : 10 / 12;
	margin-top  : var(--space-2xl);
	
	@include media("<tablet") {
	  grid-column : 1 / 5;
	  margin-top  : var(--space-l);
	}
  }
  
}
