.c-skip-button {
  background-color : red;
  height           : 1px;
  left             : -10000px;
  overflow         : hidden;
  position         : absolute;
  top              : auto;
  width            : 1px;
  
  &:focus {
	@include z-index(skip-button);
	@include ts-body;
	align-items      : center;
	background-color : var(--orange);
	border-radius    : 0 0 4px 0;
	color            : var(--white);
	display          : block;
	height           : auto;
	left             : auto;
	padding          : 10px var(--space-m);
	text-align       : center;
	width            : 100%;
  }
}
