.c-social-links {

	&__title {
		@include ts-heading-3;
		color          : var(--orange);
		margin-bottom  : var(--space-m);
		text-transform : uppercase;
	}

	&__icons {
		display : flex;
	}

	&__link {
		align-items     : center;
		background      : #9AA9B1;
		border-radius   : 50%;
		color           : var(--blue);
		display         : flex;
		height          : 40px;
		justify-content : center;
		margin-right    : var(--space-m);
		min-width       : 40px;
		width           : 40px;

		&:hover, &:focus {
			background : var(--dark-grey);
			color      : var(--white);
		}

		&:last-child {
			margin-right : 0;
		}
	}
}
