.c-statements {
  & + .c-page-header {
	margin-bottom : 100px;
  }
  
  &__container {
	@include o-container;
  }
  
  &__items {
	border-bottom : solid 1px var(--borders);
	display       : flex;
	
	@include media('<tablet') {
	  display : block;
	}
  }
  
  &__item {
	border-right : solid 1px var(--borders);
	padding      : var(--space-2xl) var(--space-4xl);
	width        : 50%;
	
	@include media('<tablet') {
	  border-bottom : solid 1px var(--borders);
	  border-right  : 0;
	  padding       : var(--space-l);
	  width         : calc(100% - (var(--space-l) * 2));
	}
	
	&:last-of-type {
	  border-bottom : 0;
	  border-right  : 0;
	}
	
  }
  
  &__title {
	@include ts-heading-2;
	color          : var(--orange);
	text-transform : uppercase;
  }
  
  &__description {
	@include ts-body;
	margin-top : var(--space-l);
	
	p {
	  @include ts-body;
	}
  }
  
  &__button {
	@include ts-body(small);
	border-bottom-style : solid;
	border-bottom-width : 1px;
	margin-bottom       : var(--space-xl);
	padding-bottom      : 3px;
	
	&:hover, &:focus {
	  border-bottom-color : var(--light-grey);
	  color               : var(--light-grey);
	}
  }
}
