.c-tabs {
  
  a {
	@include o-button;
	background    : var(--dark-blue);
	border-radius : var(--border-radius) var(--border-radius) 0 0;
	color         : var(--cream);
	font-weight   : 700;
	
	&.active {
	  background : var(--cream);
	  color      : var(--orange);
	}
	
	&:hover, &:focus {
	  background-color : var(--main-color);
	  color            : var(--white);
	}
	
  }
}
