.c-tags {
  
  &__item {
	padding-bottom : var(--space-l);
  }
  
  &__title {
	@include ts-content-type;
	border-top     : 1px solid var(--light-grey);
	display        : inline-block;
	margin-bottom  : 5px;
	padding-top    : var(--space-s);
	text-transform : uppercase;
	width          : 100%;
  }
  
  &__button {
	@include ts-body(small);
	border-bottom-style : solid;
	border-bottom-width : 1px;
	margin-bottom       : var(--space-xl);
	padding-bottom      : 3px;
	
	&:hover, &:focus {
	  border-bottom-color : var(--light-grey);
	  color               : var(--light-grey);
	}
  }
}
