.c-text-block {
  
  &__container {
	@include o-container;
	@include grid;
  }
  
  &__inner {
	grid-column : 1 / 9;
	
	@include media("<desktop") {
	  grid-column : 1 / 13;
	}
	
	.o-single__main & {
	  grid-column : 2 / 9;
	  
	  @include media("<desktop") {
		grid-column : 1 / 5;
	  }
	}
	
	.o-single__main-full-width & {
	  grid-column : 2 / 12;
	  
	  @include media("<desktop") {
		grid-column : 1 / 5;
	  }
	}
	
	.o-page--tpl-map & {
	  grid-column : 1 / -1;
	  padding     : 0 28px;
	}
  }
  
  &__content {
	margin-bottom : var(--space-5xl);
	
	@include media("<tablet") {
	  margin-bottom : var(--space-4xl);
	}
  }
  
  & + & {
	margin-top : calc(var(--space-5xl) / 2 * -1); // SBTODO: Adjust, currently is -48px
	@include media("<tablet") {
	  margin-top : 0;
	}
  }
}
