/* Colours
================================================== */

:root {
  --background       : #FDFCF3;
  --black            : #000000;
  --blue             : #35536C;
  --borders          : #C9B99F;
  --brown            : #927349;
  --cream            : #FDFCF3;
  --green            : #129E6D;
  --orange           : #E39659;
  --red              : #A9283C;
  --white            : #FFFFFF;
  --yellow           : #CC9F26;
  --bright-blue      : #3B73D7;
  --dark-blue        : #263B4E;
  --main-color       : #C36628;
  --dark-grey        : #999DA4;
  --light-grey       : #DAD9DC;
  --mid-grey         : #C3C3C7;
  --dark-grey-rgb    : 153, 157, 164;
  --light-grey-rgb   : 218, 217, 220;
  --orange-hover     : #C36628;
  --extra-light-grey : #ECECED;
}
