/* Baseline
================================================== */
$baseline-spacing : 4px;

/* Spacing
================================================== */
:root {
  --gutter               : 32px;
  --space-2xl            : #{$baseline-spacing * 12}; // 48px
  --space-3xl            : #{$baseline-spacing * 16}; // 64px
  --space-4xl            : #{$baseline-spacing * 20}; // 80px
  --space-5xl            : #{$baseline-spacing * 24}; // 96px
  --admin-height         : 78px;
  --full-height          : 100%;
  --header-height        : 120px;
  --header-height-mobile : 60px;
  --space-l              : #{$baseline-spacing * 6}; // 24px
  --space-m              : #{$baseline-spacing * 4}; // 16px
  --border-radius        : 4px;
  --space-s              : #{$baseline-spacing * 3}; // 12px
  --space-xl             : #{$baseline-spacing * 8}; // 32px
  --space-xs             : #{$baseline-spacing * 2}; // 8px
  --space-xxs            : #{$baseline-spacing}; // 4px
  
  @include media("<=tablet") {
	--gutter : 16px;
  }
}
