#adminmenu div.wp-menu-name {
  padding: 8px 8px 8px 0;
}

/* Datepicker fix */
.ui-datepicker.ui-helper-clearfix {
  display: none;
}

#adminmenu li.wp-menu-separator {
  border-top: 1px solid rgba(240, 245, 250, 0.6);
  height: 0;
  margin: 6px 0;
  padding-bottom: 26px;
}

#adminmenu > li.wp-not-current-submenu.wp-menu-separator:after {
  content: "Post types";
}

#adminmenu > li.wp-not-current-submenu.wp-menu-separator ~ li.wp-not-current-submenu.wp-menu-separator:after {
  content: "Media and Settings";
}

li.wp-not-current-submenu.wp-menu-separator:after {
  color: #AAAAAA;
  content: "Post types";
  display: block;
  margin: 6px 0 10px 10px;
}

/*# sourceMappingURL=admin-style.css.map */
