@mixin o-button($orange : false, $cream : false, $text_link: false, $transparent: false) {
  @include ts-button();
  align-items      : center;
  background-color : var(--blue);
  border           : 0;
  box-sizing       : border-box;
  color            : var(--white);
  cursor           : pointer;
  display          : inline-flex;
  justify-content  : space-between;
  padding          : var(--space-s) var(--space-l);
  text-align       : left;
  border-radius    : var(--border-radius);
  
  @if ($orange) {
	background-color : var(--orange);
	color            : var(--white);
	
	&:hover,
	&:focus {
	  background : var(--orange-hover);
	}
  }
  
  @if ($cream) {
	background-color : var(--cream);
	color            : var(--orange);
	border           : solid 1px #C9B99F;
  }
  
  @if $text_link {
	background-color : transparent;
	color            : var(--blue);
	padding          : 0;
	border-radius    : 0;
	position         : relative;
	
	&:hover,
	&:focus {
	  &:after {
		position   : absolute;
		height     : 1px;
		background : var(--blue);
		width      : 100%;
		bottom     : -2px;
		content    : '';
	  }
	}
  }
  
  @if $transparent {
	background-color : transparent;
	color            : var(--orange);
	border           : solid 1px var(--orange);
	font-weight      : 600;
	
	&:hover,
	&:focus {
	  background : var(--orange);
	  color      : var(--white);
	}
  }
}

.o-button {
  @include o-button();
}
