.o-section {
  $class  : &;
  padding : var(--space-2xl) 0 var(--space-2xl);
  
  & + & {
	padding-top : 0;
  }
  
  @include media("<tablet") {
	padding : 40px 0 var(--space-l);
  }
  
  /* Items without backgrounds
  ================================================== */
  &--no-background + &--no-background {
	padding-top : 0;
  }
  
  /* Different types next to eachother
  ================================================== */
  &--has-background + &--no-background,
  &--no-background + &--has-background {
	padding-top : var(--space-2xl);
  }
  
  /* Items with backgrounds
  ================================================== */
  &--has-background {
	padding : var(--space-2xl) 0;
	
	& + & {
	  padding-top : 0;
	}
  }
}
