.o-svg {
  &--first-page,
  &--prev-page,
  &--next-page,
  &--last-page {
	height : 20px;
	width  : 20px;
  }
  
  &--burger {
	height : 20px;
	width  : 20px;
  }
  
  &--logo {
	height : 28px;
	width  : 28px;
	
	@include media("<desktop") {
	  height : 28px;
	  width  : 28px;
	}
  }
  
  &--envelope {
	height : 11px;
	width  : 16px;
  }
  
  &--user {
	height : 12px;
	width  : 12px;
  }
  
  &--search {
	height : 16px;
	width  : 16px;
	
	@include media("<tablet") {
	  height : 20px;
	  width  : 20px;
	}
  }
  
  &--arrow {
	height : 16px;
	width  : 16px;
  }
  
  &--arrow-down {
	height : 16px;
	width  : 16px;
  }
  
  &--arrow-diagonal-up {
	height : 12px;
	width  : 12px;
  }
  
  &--cta-iso-group {
	height : 207px;
	width  : 146px;
  }
  
  &--iso-group-3 {
	height : 320px;
	width  : 320px;
	
	@include media("<tablet") {
	  height : 98px;
	  width  : 98px;
	}
  }
  
  /* #Social
  ================================================== */
  &--facebook {
	height : 16px;
	width  : 16px;
  }
  
  &--linkedin {
	height : 14px;
	width  : 15px;
  }
  
  &--twitter {
	height : 14px;
	width  : 18px;
  }
  
  &--youtube {
	height : 13px;
	width  : 18px;
  }
}
