.wpcf7 {
  
  margin : var(--space-2xl) 0 var(--space-3xl) 0;
  width  : 100%;
  
  label {
	@include ts-label;
	@include sans;
  }
  
  p {
	margin-bottom : var(--space-m);
  }
  
  input[type=button],
  input[type=email],
  input[type=reset],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=url] {
	border    : 1px solid $border-line;
	font-size : 16px;
	padding   : 10px 15px;
	@include sans;
	width     : 100%;
	
	&.wpcf7-not-valid {
	  border-color : red;
	}
	
	&:hover, &:focus, &:active, &:focus-visible {
	  border-color : $green;
	}
  }
  
  input[type=submit] {
	background-color : $green;
	border           : none;
	color            : var(--white);
	@include ts-button;
	@include sans;
	cursor           : pointer;
	padding          : var(--space-m) var(--space-l);
	text-transform   : uppercase;
	
	&:hover, &:focus {
	  background-color : var(--black);
	}
	
	@include media("<tablet") {
	  width : 100%;
	}
  }
  
  textarea {
	border        : 1px solid $border-line;
	border-radius : 0;
	box-sizing    : border-box;
	font-size     : 16px;
	min-height    : 150px;
	padding       : 10px 15px;
	width         : 100%;
	@include sans;
	
	&.wpcf7-not-valid {
	  border-color : red;
	}
	
	&:hover, &:focus, &:active, &:focus-visible {
	  border-color : $green;
	}
  }
  
  &-not-valid-tip {
	font-size : 12px;
  }
  
  form .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output {
	margin     : var(--space-l) 0;
	padding    : var(--space-m);
	text-align : center;
	@include ts-label;
	@include sans;
  }
  
  .ajax-loader {
	background-color : $green;
	opacity          : 1;
	vertical-align   : middle;
  }
}
