/*
    ===============================
    VARIABLES
    ===============================
*/
@import "settings/colours";
@import "settings/fonts";
@import "settings/grid-settings";
@import "settings/spacing";

/*
    ===============================
    MIXINS
    ===============================
*/
@import "tools/include-media/include-media";
@import "tools/mixins";
@import "tools/text-styles";

/*
    ===============================
    STRUCTURE
    ===============================
*/
// Set a similar width to the single-content area
html {
  padding : 0 10px;
}

body {
  margin    : 10px auto;
  max-width : 746px;
}

// Img max width in editor
img {
  height    : auto;
  max-width : 100%;
}

iframe {
  height     : auto;
  min-height : 400px;
  width      : 100%;
}

/*
    ===============================
    TYPOGRAPHY
    ===============================
*/

p + h1,
ul + h1,
ol + h1 {
  margin-top : 56px;
}

h1 {
  @include ts-heading-1;
  
  b, strong {
	font-weight : 700;
  }
}

h2 {
  @include ts-heading-2;
  
  b, strong {
	font-weight : 700;
  }
}

h3 {
  @include ts-heading-3;
  
  b, strong {
	font-weight : 700;
  }
}

h4 {
  @include ts-heading-4;
  
  b, strong {
	font-weight : 700;
  }
}

h5 {
  @include ts-heading-5;
  
  b, strong {
	font-weight : 700;
  }
}

h6 {
  @include ts-heading-6;
  
  b, strong {
	font-weight : 700;
  }
}

p, ul, ol {
  @include ts-body;
}

a,
p a,
ol li a,
ul li a {
  color           : var(--black);
  cursor          : pointer;
  text-decoration : none;
  
  &:hover {
	color           : $green;
	text-decoration : none;
  }
}

b, strong {
  font-weight : 700;
}

i, em {
  font-style : italic;
}

b i, b em, strong i, strong em,
i b, i strong, em b, em strong {
  font-style  : italic;
  font-weight : 700;
}

figcaption {
  font-size   : 12px;
  font-style  : normal;
  line-height : 15px;
}

blockquote, blockquote p {
  @include ts-pull-quote;
}
